anyio==4.0.0
asgiref==3.7.2
black==23.10.1
click==8.1.7
Django==4.2.6
django-environ==0.11.2
graphql-core==3.2.3
gunicorn==21.2.0
h11==0.14.0
idna==3.4
isort==5.12.0
libcst==1.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
Pygments==2.16.1
python-dateutil==2.8.2
python-multipart==0.0.6
PyYAML==6.0.1
rich==13.6.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.31.1
strawberry-graphql==0.210.0
strawberry-graphql-django==0.21.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
uvicorn==0.23.2
