asgiref==3.7.2
autoflake==2.2.1
black==23.10.1
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
Django==4.2.6
django-environ==0.11.2
django-stubs==4.2.6
django-stubs-ext==4.2.5
ecdsa==0.18.0
graphql-core==3.2.3
gunicorn==21.2.0
idna==3.4
inflection==0.5.1
isort==5.12.0
mypy==1.6.1
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pyasn1==0.5.0
pyflakes==3.1.0
python-dateutil==2.8.2
python-jose==3.3.0
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
strawberry-graphql==0.211.1
strawberry-graphql-django==0.21.0
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.8.0
urllib3==2.1.0
